// Specific CSS for your home-page

#friend_name {
  font-size: 12px;
}

#colon-icon-1 {
  padding-top: 5px;
  margin-left: 29px;
}

#colon-icon-2 {
  padding-top: 5px;
  margin-left: 19px;
}

#colon-icon-3 {
  padding-top: 5px;
  margin-left: 19px;
}

#welcome {
  font-size: 30px;
}
