
<%= render "shared/search", path: movies_path %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="movie_cards">
          <% if @movies.any? %>
            <% @movies.each do |movie| %>
              <div class="movie_card">
                <div class="movie_poster">
                  <%= link_to image_tag(movie.poster, size: "150x200"), movie_path(movie) %>
                </div>
                <div class="movie_card-body text-center">
                  <h6><%= movie.title.upcase.truncate(14) %></h6>
                  <p><%= movie.year %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <em>Sorry, no movies found.</em>
          <% end %>
      </div>
    </div>
  </div>
</div>
