
<div class="container-fluid">
  <%= render "shared/search", path: movies_path %>
  <div class="row">
    <div class="col-12">
      <div class="movie_cards">
          <% if @movies.any? %>
            <% @movies.each do |movie| %>
              <div class="movie_card d-flex flex-column">
                <div class="movie_poster flex-grow-1 flex-shrink-1">
                  <%= link_to image_tag(movie.poster, class: "w-100 movie-poster", height: 230), movie_path(movie), class: "d-block" %>
                </div>
              </div>
            <% end %>
          <% else %>
            <em>Sorry, no movies found.</em>
          <% end %>
      </div>
    </div>
  </div>
</div>
