<div class="container friend_list">
  <h2>My friends</h2>
    <ul class="list-group list-group-flush">
      <% @friendships.each do |friendship| %>
        <% name_to_display = friendship.first_user == current_user ? friendship.second_user.first_name : friendship.first_user.first_name %>
          <li class="list-group-item"><%= link_to name_to_display,  friendship_path(friendship) %></li>
      <% end %>
    </ul>
</div>
