<div class="container-fluid">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="watchlist-tab" data-bs-toggle="tab" data-bs-target="#watchlist-tab-pane" type="button" role="tab" aria-controls="watchlist-tab-pane" aria-selected="true">Watchlist</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history-tab-pane" type="button" role="tab" aria-controls="history-tab-pane" aria-selected="false">History</button>
    </li>

  </ul>


  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="watchlist-tab-pane" role="tabpanel" aria-labelledby="watchlist-tab" tabindex="0">
      <%# render "shared/movie_search", history_items: false %>
      <div class="movie_lists">
        <% @watchlist_items.each do |watchlist_item| %>
          <div class="movie_list">
            <%= link_to movie_path(watchlist_item.api_movie_id) do %>
              <%= image_tag watchlist_item.poster, class: "m_picture" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="history-tab-pane" role="tabpanel" aria-labelledby="history-tab" tabindex="0">
      <%#= render "shared/movie_search", history_items: true %>
      <div class="movie_lists">
        <% @history_items.each do |history_item| %>
        <div class="movie_list">
          <%= link_to movie_path(history_item.api_movie_id) do %>
            <%= image_tag history_item.poster, class: "m_picture" %>
          <% end %>
        </div>

        <% end %>
      </div>
    </div>

  </div>

</div>
