<br>
<br>
<ul class="nav nav-underline">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Watchlist</a>
    <p>mivies</p>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">History list</a>
    <p>movies</p>
  </li>
</ul>
