.popup-button {
  background-color: transparent;
  border: none;
}

.btn-add-to-watchlist {
  color: white;
}

.btn-add-to-watchlist-active {
  color: #06d6a0;
}

.btn-add-to-history {
  color: white;
}

.btn-add-to-history-active {
  color: #ffd166;
}

.btn-add-to-notifications {
  color: white;
}

.btn-add-to-notifications-active {
  color: #ef476f;
}
