.friend_list {
   h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .list-group-flush li {
    background-color: black;
    margin-bottom: 5px;

  }

}

.friend_list .list-group-flush .list-group-item a {
  color: white;
  text-decoration: none;
  font-size: 18px;

}
