.movie-poster {
  border: solid 1px #4F4F4F;
}
#movie-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.movie-title {
 font-family: 'Passion One', sans-serif;
 font-size: 30px;
 margin-bottom: 2px;
}

#director-name {
  font-size: 17px;
  font-style: italic;
  margin-bottom: 3px;
  font-family: 'Inter', sans-serif;
}

#year-category {
  font-size: 14px;
  margin-bottom: 3px;
  font-family: 'Inter', sans-serif;
}

#casting {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin-bottom: 1px;
}

.synopsis {
  margin-top: 16px;
  padding-left: 14px;
  padding-right: 14px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  text-align: justify;
  margin-bottom: 20px;
}

.btn-light {
  background-color: #2D2A2A;
  color: white;
  border: solid #2D2A2A 1px;
  padding: 3px;
  width: 2rem;
  height: 2rem;
}

.spacing {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.movie-d-y {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#more-infos-button {
  color: black;
  background-color: #989898;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 3px;
  position: relative;
  left: 196px;
  top: -147px;
}

.ratings {
  background-color: #989898;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;

}

.rating-color{
  color:#4F4F4F !important;
}

.screening-infos {
  margin-top: 25px;
  background-color: #E3E1E1;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 4px;
  border-radius: 4px;
  color: black;
}

.screening-time {
  background-color: white;
  border: solid 1px black;
  border-radius: 4px;
  color: black;
  padding: 5px;
  margin: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 13px;

}

.time {
  display: flex;
  list-style: none;
  justify-content: center;
}

.box {
  background-color: #AB2828;
  padding: 5px;
  border-radius: 8px;
  margin-left: 6px;
  margin-right: 6px;
  font-weight: 700;
}
