.navbar-bottom-lewagon {
  justify-content: space-between;
  background: rgb(39, 37, 37);
  border-radius: 20px;
  margin-left: 11px;
  margin-right: 11px;
  opacity: 0.9;
  z-index: 111;
}

.notif-count {
  background-color: #f6c501;
  color: black;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -4px;
  right: -13px;
  font-size: 10px;
}

.notif-position {
  position: relative
}
