
.poster {
  height: 150px;
  width: 110px;
}

.search {
  display: flex;
  background-color: white;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 340px;
  height: 25px;

  .icon {
    color: gray;
    align-items: center;
    width: 30px;
  }
  .d-flex {
    outline: none;
    border: none;
    width: 310px;
    // background-color: transparent;
  }
}
 ::placeholder {
  font-size: 13px;
 }
