
.poster {
  height: 150px;
  width: 110px;
}

.search {
  display: flex;
  background-color: white;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 340px;
  height: 35px;

  .icon {
    display: flex;
    justify-content: center;
    color: darkgray;
    align-items: center;
    width: 30px;
    text-align: center;
  }
  .search_form input {
    outline: none;
    border: none;
    width: 310px;
    // background-color: transparent;
  }
  .search_form input:focus {
    box-shadow: none;
  }
}
 ::placeholder {
  font-size: 15px;
 }

 .movie_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  justify-items: center;
}

.movie_card {
  width: 150px;
  height: 250px;
  background-color: #4F4F4F;
  // border: 2px solid grey;
  box-shadow: 0 0 1px;
  margin-bottom: 8px;

  .movie_poster {
    object-fit: cover;
    margin-bottom: 2px;
  }

  .movie_card-body {
    width: 150px;
    height: 30px;
    font-family: "Inter", sans-serif;
    font-size: 15px;

  }

  .movie_card-body p {
    font-size: 13px;
    font-style: italic;
  }
}
.details_link {
  height: 10px;
}
